@import "tailwindcss";

@theme {

  --font-kanit : "Kanit", sans-serif;

  --color-main-bg: #284b63;
  --color-text: #ffffff;
}

@layer base {
  body {
    @apply bg-main-bg text-text antialiased;

    font-family: var(--font-kanit);

    font-weight: 300;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
